<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
      <typeAlias type="com.example.cleanway.domain.dto.report.CleanReportDto" alias="cleanReportDto"/>
      <typeAlias type="com.example.cleanway.domain.dto.user.UserDto" alias="userDto"/>
        <typeAlias type="com.example.cleanway.domain.dto.report.ReportImgDto" alias="reportImgDto"/>



      <typeAlias type="com.example.cleanway.domain.vo.report.ReportVo" alias="reportVo"/>
    </typeAliases>
</configuration>
