<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cleanway.mapper.mypage.MypageMapper">
<!--회원 정보 조회-->
    <select id="selectUser" resultType="myPloggingVo">
            SELECT USER_NUMBER, USER_EMAIL, USER_NICKNAME,PROFILE_IMAGE_PATH,
                   (select count(*)
                    from CLEAN_MY_PROJECT CMP
                    WHERE USER_NUMBER=#{userNumber})AS MY_PLOGGING
            FROM CLEAN_USER
            WHERE USER_NUMBER =#{userNumber}
    </select>


    <!--닉네임 수정-->
   <update id="updateNickname" parameterType="myInfoVo">
    update CLEAN_USER
    set USER_NICKNAME = #{newNickname}
    where USER_NUMBER = #{userNumber}
   </update>
<!--    <update id="updateNickname" parameterType="userDto">
    update CLEAN_USER
    set USER_NICKNAME = #{UserNickname}
    where USER_NUMBER = #{userNumber}
</update>-->


    <!--내 장소 보기-->
    <select id="selectMySpot" parameterType="long" resultType="mySpotVo">
        select DISTINCT CS.USER_NUMBER, CS.SPOT_NUMBER,
               CRS.REPORT_NUMBER,CRS.SPOT_LAT,CRS.SPOT_LNG,SPOT_NAME
        from CLEAN_SPOT CS JOIN CLEAN_REPORT_SPOT CRS on CS.SPOT_NUMBER = CRS.SPOT_NUMBER
        where USER_NUMBER=#{userNumber}
    </select>

    <!--내 코스 보기-->
    <select id="selectRouteList" parameterType="long" resultType="cleanRouteDto">
        select route_number, user_number, route_name,
               route_slat, route_slng, route_sname,
               route_dlat, route_dlng, route_dname,
               route_v1lat, route_v1lng, route_v1name,
               route_v2lat, route_v2lng, route_v2name,
               route_v3lat, route_v3lng, route_v3name
        from CLEAN_ROUTE
        where USER_NUMBER=#{userNumber}
    </select>

    <!--    내 플로깅 목록 조회-->
<!--    진행 예정 플로깅 목록 조회-->

    <select id="selectMyProjectList" parameterType="long" resultType="myProjectVo">
<![CDATA[
        select CU.USER_NUMBER, CC.CREW_NUMBER,CC.CREW_NAME,
        CMP.PROJECT_ROLE_NUMBER, CPR.PROJECT_ROLE_NAME,
        CCP.PROJECT_TITLE,CCP.PROJECT_CONTENT,
        CCP.CREW_PROJECT_NUMBER,
        TO_CHAR(CMP.PROJECT_JOIN_DATE, 'YYYY/MM/DD') AS PROJECT_JOIN_DATE,
        CCP.PROJECT_DATE,CCP.PROJECT_TIME,
        CCP.PROJECT_SNAME,CCP.PROJECT_VNAME,CCP.PROJECT_DNAME,
        CCP.PROJECT_RECRUITMENT,(
        SELECT COUNT(*)
        FROM CLEAN_MY_PROJECT
        WHERE CREW_PROJECT_NUMBER = CCP.CREW_PROJECT_NUMBER
        AND PROJECT_ROLE_NUMBER IN (1, 2)
        ) AS PROJECT_MEMBER_COUNT,(CASE
        WHEN CCP.PROJECT_DATE < sysdate THEN 'Y'
        ELSE 'N'
        END) AS IS_PAST_PROJECT
        from CLEAN_MY_PROJECT CMP join CLEAN_USER CU on CMP.USER_NUMBER = CU.USER_NUMBER
        JOIN CLEAN_CREW CC on CMP.CREW_NUMBER = CC.CREW_NUMBER
        JOIN CLEAN_CREW_PROJECT CCP on CMP.CREW_PROJECT_NUMBER = CCP.CREW_PROJECT_NUMBER
        JOIN CREW_PROJECT_ROLE CPR on CMP.PROJECT_ROLE_NUMBER = CPR.PROJECT_ROLE_NUMBER
        WHERE CU.USER_NUMBER=#{userNumber}
        ORDER BY CCP.PROJECT_DATE DESC
        ]]>
    </select>

<!--    회원 탈퇴-->


</mapper>









