<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cleanway.mapper.crew.CrewMapper">

    <!--    (홈) 크루 리스트 조회-->
    <select id="selectCrewList" parameterType="long" resultType="crewVo">
        SELECT CC.CREW_NUMBER, CU.USER_NUMBER, CC.CREW_NAME,
               TO_CHAR(CC.CREW_WRITE_TIME, 'YYYY/MM/DD') AS CREW_WRITE_TIME,
               CC.CREW_CONTENT, CC.CREW_RECRUITMENT, CR.CREW_ROLE_NUMBER,
               CU.USER_NICKNAME, CR.CREW_ROLE_NAME,
               (
                   SELECT COUNT(*)
                   FROM CLEAN_MY_CREW
                   WHERE CREW_NUMBER = CC.CREW_NUMBER
                     AND CREW_ROLE_NUMBER IN (1, 2)
               ) AS MEMBER_COUNT
        FROM
            CLEAN_CREW CC JOIN CLEAN_USER CU ON CC.USER_NUMBER = CU.USER_NUMBER
                          JOIN CREW_ROLE CR ON CC.CREW_ROLE_NUMBER = CR.CREW_ROLE_NUMBER
    </select>


<!--    크루 등록-->
    <insert id="crewInsert" parameterType="cleanCrewDto">
        <selectKey keyProperty="crewNumber" order="BEFORE" resultType="long">
            SELECT SEQ_CLEAN_CREW.nextval FROM DUAL
        </selectKey>
        INSERT INTO CLEAN_CREW(CREW_NUMBER,USER_NUMBER,CREW_NAME,CREW_WRITE_TIME,CREW_CONTENT,
                               CREW_RECRUITMENT,CREW_ROLE_NUMBER)
        VALUES (#{crewNumber},#{userNumber},#{crewName},SYSDATE,
                #{crewContent},#{crewRecruitment},1)
    </insert>

    <!--크루 참여-->
    <insert id="crewInsertCount" parameterType="cleanMyCrewDto">
        INSERT INTO CLEAN_MY_CREW(CREW_NUMBER, USER_NUMBER, CREW_ROLE_NUMBER)
        VALUES (#{crewNumber},#{userNumber},2)
    </insert>

    <!--    크루 참여 인원 알아보기-->
    <select id="countCrewMembers" resultType="_int">
        SELECT COUNT(*)
        FROM CLEAN_MY_CREW
        WHERE CREW_NUMBER = #{crewNumber}
          AND CREW_ROLE_NUMBER IN (1, 2)
    </select>

    <!--크루 탈퇴-->
    <delete id="crewDelete" parameterType="cleanMyCrewDto">
        DELETE FROM CLEAN_MY_CREW
        WHERE CREW_NUMBER = #{crewNumber} AND USER_NUMBER = #{userNumber}
    </delete>

    <!--    크루 프로젝트 조회 -->

<!--    크루 프로젝트 등록-->
    <insert id="crewProjectInsert" parameterType="cleanCrewProjectDto">
        <selectKey keyProperty="crewProjectNumber" order="BEFORE" resultType="long">
            select SEQ_CLEAN_CREW_PROJECT.nextval FROM DUAL
        </selectKey>
        INSERT INTO CLEAN_CREW_PROJECT(CREW_PROJECT_NUMBER,CREW_NUMBER,PROJECT_ROLE_NUMBER,
                                       USER_NUMBER,PROJECT_WRITE_TIME,PROJECT_CONTENT,
                                       PROJECT_RECRUITMENT,PROJECT_DATE,PROJCET_TIME,
                                       PROJECT_SLNG,PROJECT_SLAT,PROJECT_VLNG,
                                       PROJECT_VLAT,PROJECT_DLNG,PROJECT_DLAT)
        VALUES (#{crewProjectNumber},#{crewNumber},1,#{userNumber},
               SYSDATE,#{projectContent},#{projectRecruiument},#{projectDate},
               #{projectTime},#{projectSLng},#{projectSLat},#{projectVLng},
               #{projectVLat},#{projectDLng},#{projectDLat})
    </insert>



</mapper>









